*{
    margin:0px;
    padding:0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color:#f9e9ea;
}
.top{
    background-color:#2d6c8d;
    width:100%;
    height:auto;
    margin:0px;
    padding:10px;
    position:fixed;
}
.btn{
    background-color:transparent;
    border:0px;
    font-size: larger;
    font-weight: 800px;
    cursor: pointer;
    margin-left:20px;
    color:white;
    margin-bottom:10px;
    margin-top:0px;
}
.buy{
    background-color:rgb(216, 145, 11);
}
.btn:hover{
    text-decoration: underline;
}
.box{
    background-color:white;
    margin-left:100px;
    margin-right:100px;
    min-height:400px;
    max-height:1200px;
    margin-top:20px;
    border-radius:10px;
    padding:20px 10px 10px 10px;
}
.image{
    background-image:url("pexels-veeterzy-303383.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    height:640px;
    width:100%;
    color:white;
}
.foot{
    background-color: #2d6c8d;
    width:100%;
    height:200px;
    color:white;
}