*{
    margin:0px;
    padding:0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top{
    background-color: blueviolet;
    width:auto;
    height:auto;
    margin:0px;
    padding:10px;
}
.btn{
    background-color:transparent;
    border:0px;
    font-size: larger;
    font-weight: 800px;
    cursor: pointer;
    margin-left:20px;
    color:white;
    margin-bottom:10px;
    margin-top:0px;
}
.buy{
    background-color:rgb(216, 145, 11);
}
.btn:hover{
    text-decoration: underline;
}