*{
    margin:0px;
    padding:0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top{
    background-color:#2d6c8d;
    width:100%;
    height:auto;
    margin:0px;
    padding:10px;
    position:fixed;
}
.btn{
    background-color:transparent;
    border:0px;
    font-size: larger;
    font-weight: 800px;
    cursor: pointer;
    margin-left:20px;
    color:white;
    margin-bottom:10px;
    margin-top:0px;
}
.buy{
    background-color:rgb(216, 145, 11);
}
.btn:hover{
    text-decoration: underline;
}
.box{
    background-color:white;
    margin-left:100px;
    margin-right:100px;
    min-height:400px;
    max-height:1200px;
    margin-top:20px;
    border-radius:10px;
    padding:20px 10px 10px 10px;
}
.image1{
    background-image:url("pexels-dreamypixel-552784.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    height:550px;
    width:auto;
    color:white;
    padding-top:100px;
    padding-left:150px;
}
.box12{
    height:500px;
    width:90%;
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,0.8016456582633054) 0%, rgba(252,252,252,0.491281512605042) 100%);
}
.image{
    background-image:url("pexels-veeterzy-303383.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    height:640px;
    width:100%;
    color:white;
}
.foot{
    background-color: #2d6c8d;
    width:100%;
    height:100px;
    color:white;
    text-align: center;
    padding-top:50px;
}
.card{
    height:500px;
    width:300px;
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,0.8016456582633054) 0%, rgba(252,252,252,0.491281512605042) 100%);
    margin:10px 0 0 20px;
}
.ourservice,td{
    border:none;
    padding-left:90px;
}
h1{
    text-align: center;
    text-decoration:underline;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}